.snakemake/
workflow/.snakemake/
workflow/.snakemake*/*
results/
*.out
*.log
*.err
*.report
*.html
*.pdf
*.svg
*.png
*.csv
*.tsv
*.xls
*.xlsx
*.rds
*.bed
*.bam
*.bai
*.vcf
*.vcf.gz
*.vcf.gz.tbi
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.sam
*.cram
*.idx
*.fai
*.bw
*.bigwig
*.gff
*.gff3
*.gtf
*.counts
*.tab
*.tmp
*.temp
*.bak
*.swp
*.swo
*.npy
*.npz
*.pickle
*.pkl
*.h5
*.hdf5
*.rdata
*.rda
*.rhistory
*.RData
.rproj.user/
slurm-*.out
*.sbatch
*.secrets*
__pycache__/
*.pyc
*.pyo
*.Rhistory
.Rproj.user/
.DS_Store
Thumbs.db
gmon.out
resources/bamtofastq/*.bam
resources/bamtofastq/*.bam.tmp.*
resources/fixed.detergent.rds
resources/bwa_mem2_index/
workflow/report/
*~
!resources/non_autosomes.sorted.bed
resources